.input-bar-component {
  width: 480px;

  .input-text-bar {
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    margin: 1rem 0;
    width: 300px;
  }
}
